"Resources" : {
  "AWSEBLoadBalancerSecurityGroup": {
    "Type" : "AWS::EC2::SecurityGroup",
    "Properties" : {
      "GroupDescription" : "Enable 80,30005,5555 and 22",
      "SecurityGroupIngress" : [ 
        {
          "IpProtocol" : "tcp",
          "FromPort" : "80",
          "ToPort" : "80",
          "CidrIp" : "0.0.0.0/0"
        },
        {
          "IpProtocol" : "tcp",
          "FromPort" : "30005",
          "ToPort" : "30005",
          "CidrIp" : "0.0.0.0/0"
        },
        {
          "IpProtocol" : "tcp",
          "FromPort" : "22",
          "ToPort" : "22",
          "CidrIp" : "0.0.0.0/0"
        },
        {
          "IpProtocol" : "tcp",
          "FromPort" : "5555",
          "ToPort" : "5555",
          "CidrIp" : "0.0.0.0/0"
        },
        {
          "IpProtocol" : "tcp",
          "FromPort" : "5556",
          "ToPort" : "5556",
          "CidrIp" : "0.0.0.0/0"
        }
      ],
    }
  },
  "AWSEBLoadBalancer" : {
    "Type" : "AWS::ElasticLoadBalancing::LoadBalancer",
    "Properties" : {
      "Listeners" : [ 
        {
          "LoadBalancerPort" : "8443",
          "InstancePort" : "80",
          "Protocol" : "HTTPS",
          "SSLCertificateId":  "$TODO_SSL_CERTIFICATE_ARN"
       },
        {
          "LoadBalancerPort" : "443",
          "InstancePort" : "30005",
          "Protocol" : "HTTPS",
          "SSLCertificateId":  "$TODO_SSL_CERTIFICATE_ARN"
       },
       {
          "LoadBalancerPort" : "5555",
          "InstancePort" : "5555",
          "Protocol" : "TCP"
       },
       {
          "LoadBalancerPort" : "5556",
          "InstancePort" : "5556",
          "Protocol" : "TCP"
       }
      ]
    }
  }
}
