files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/00kill_logstash.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # This fixes issue when we can't run a container because port 5555 is already allocated
      {
        docker ps | grep :5555 | awk '{print $1}' | xargs -I id bash -c 'date; echo id ; docker stop id; docker rm -f id'
        initctl stop eb-docker
        initctl status eb-docker
      } 2>&1 | tee -a /tmp/kill_docker.debug

container_commands:
  00_rename_run:
    test: test  -e /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh 
    command: mv /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh /opt/elasticbeanstalk/hooks/appdeploy/enact/01run.sh
  01_rename_flip: 
    test: test  -e /opt/elasticbeanstalk/hooks/appdeploy/enact/01flip.sh 
    command: mv /opt/elasticbeanstalk/hooks/appdeploy/enact/01flip.sh /opt/elasticbeanstalk/hooks/appdeploy/enact/02flip.sh
  02_fix_networking:
    command: sed -i 's/docker run -d/docker run -p 5555:5555 -p 5556:5556 -p 30005:30005 -d/' /opt/elasticbeanstalk/hooks/appdeploy/enact/01run.sh
  03_fix_docker_ip:
    command: sed -i 's/server $EB_CONFIG_NGINX_UPSTREAM_IP/server localhost/' /opt/elasticbeanstalk/hooks/appdeploy/enact/02flip.sh
  04_fix_configdeploy:
    command: sed -i '/00run/ i /opt/elasticbeanstalk/hooks/appdeploy/enact/00kill_logstash.sh' /opt/elasticbeanstalk/hooks/configdeploy/enact/00run.sh
  05_fix_configdeploy:
    command: sed -i 's/00run/01run/g' /opt/elasticbeanstalk/hooks/configdeploy/enact/00run.sh
  06_fix_configdeploy:
    command: sed -i 's/01flip/02flip/g' /opt/elasticbeanstalk/hooks/configdeploy/enact/01flip.sh
  07_fix_nginx:
    command: sed -i '/gzip_types/ s/text\/html //g' /etc/nginx/sites-enabled/elasticbeanstalk-nginx-docker-proxy.conf
